*
{
    margin: 0px;
    padding: 0px;
}
.activee{background-color: rgb(26, 209, 32);border-radius: 10px;}
.top{background-color: rgb(26, 209, 32);}
.social-link li{list-style: none;display:block; float: left; margin-left: 10px;}
nav ul li a
{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
nav ul li a :hover
{
    text-decoration: none;
    color: blue;
}
.direct_link{background: rgb(26, 209, 32);}
.direct_link a
{
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}
.direct_link a:hover
{
    text-decoration: none;
    color: #fff;
}
.donation
{
    font-family: cursive;
    font-weight: 600;
    background-image: url(../images/login.jpg);
    text-align: center;
    font-size: 30px;
    background-size: cover;
    width: 100%;
    min-height: 100px;
    background-position: center;
}
center h2{font-family: cursive;
    font-weight: 600;
    padding-top: 10px;
    font-size: 40px;}
center p{font-family: serif;
    font-size: 20px;
    font-weight: 400;
text-align: justify;}
center ul{font-family: serif;
    font-size: 20px;
    font-weight: 400;list-style-position: inside;text-align: left; margin-left: 30px;}    
.donate
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.account div{margin-top: 10px;}
form div a{background-color: rgb(26, 209, 32); color: #e9e9e9; margin: 30px; padding: 5px;font-size: 20px;
    font-weight: 600; border-radius: 5px;}
form div a:hover{text-decoration: none; color: #e9e9e9;background-color: blue; transition: 1s;}    
footer h6
{
    font-weight: 600;
    font-size: 20px;
    font-family: cursive;
}
footer{font-family:serif;font-size: 15px;}
footer ul li{border-bottom: 1px solid #e9e9e9;
width: 400px;}
#social_link
{
    margin-top: 65px;
    margin-left: 50px;
}
#social_link a{margin-left: 10px;}
